body{
  font-family: Helvetica, sans-serif;
  letter-spacing: 1.5px;
  background-image: url(images/pattern.png);

}

/* 
the following CSS is or the login/create account landing page
_____________________________________________________________
*/

.loginPageBanner{
  background-image: url(images/logo.png);
height: 2000px;


}
.login{
  color:white;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 300px;
  left: 200px;
  width:25%;
  height: 300px;
  background:rgba(0,0,0,0.3);
  padding: 20px;
}

.signUp { 
  color:white;
  text-align: center;
  display: inline-block;
  background:rgba(0,0,0,0.3);
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 300px;
  left: 575px;
  width: 25%;  
  height: 300px;
  padding: 20px;
}

.loginSubmitButton, .createSubmitButton{
  background:#a5ecc3;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  font-family: Helvetica, sans-serif;
}

.input{
  color:white;
}
.inputLogin{
  display:block;
  color:white;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.4);
  border:0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1.5px;
}


.inputLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  font-family: Helvetica, sans-serif;
  font-style: none;
}

span{
  font-size: 15px;
}

/* 
the following CSS is or the items for sale
_____________________________________________________________
*/
.listingStyle, .itemsSold, .itemsBought{
  display:inline-block;
  border:1px solid #000;
  padding-left:20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom:300px;
  width: 250px;
  border-radius: 5px;
  height: 150px;
  margin-top: 100px;
  margin-left: 200px;
  overflow: hidden;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 
  border:2px dashed #F7EEEE;
  box-shadow:0 10px 25px 20px #518C96;
  z-index:-1;
  -webkit-box-shadow:0 0 30px 2px #479F41;
  -moz-box-shadow:0 0 30px 2px #479F41;
  box-shadow: 0 0 30px 2px #479F41;
  background-color: #9EEBBF;
  font-size: 17px;
  transform: rotate(3deg);
}

ul{
  list-style-type: none;
}

/* Spiffin' out the links in the home page 
-----------------------------------------------------------------------
*/
.homeAccountLink{
  color: rgb(3, 52, 73);
  margin-top: 20px;
  margin-left: -100px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}

.homeAllListingsLink{
  color: rgb(4, 44, 61);
  margin-top: 20px;
  margin-left: 270px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}
.homeCreateListingsLink{
color: rgb(5, 53, 73);
  margin-top: 20px;
  margin-left: 660px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}

/* these be for the search functionality of the allListings page 

-----------------------------------------------------------------------
*/
/* input::placeholder {
  color: lightskyblue;
  font-size: 1.2em;
  font-style: italic;
} */
input[type=text]{
padding: 10px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
border-top-color: red;
border-bottom-color: blueviolet;
}
.searchBar{
  margin-left:- 20px;
  margin-top: 0px;
  padding: 25px;
position: absolute;

}
.searchBarLowRange{
  margin-left: 430px;
  margin-top: 25px;
  position: absolute;
}
.searchBarHighRange{
  margin-left: 600px;
  margin-top: 25px;
  position: absolute;
}
.searchImage{
  content:url(images/budy.jpg);
  height: 35px;
  width: 50px;
  position: relative;
  left: 270px;
  top: 25px;
  border-radius: 50%;
}
.searchOutline{
  border-color:#9EEBBF;
  border-style: solid;
  border-width: thick;
  width:920px;
  height: 100px;
  margin:7px auto;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding-left:190px;
}

/* this is for the home button in allListing*/

.homeLink {
  color:rgb(3, 52, 73);
  margin-top: 20px;
  margin-left: -80px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}

/*  Styling the Account home link*/
.accountHomeLink{
  color:rgb(3, 52, 73);
  margin-top: 20px;
  margin-left: -80px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}
/*  Styling the creatItem home link*/
.createItemHomeLink{
  color:rgb(3, 52, 73);
  margin-top: 20px;
  margin-left: -80px;
  position: absolute;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
}

/* 
the following CSS is for the buy button animation
_____________________________________________________________
*/
.buyButton{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #000;
  text-align: left;
  font-size: 38px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 15px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;

}

.buyButton span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buyButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buyButton:hover span {
  padding-right: 25px;
}

.buyButton:hover span:after {
  opacity: 1;
  right: 0;
}

.buyPage {
  display: inline-block;
}
/* 
the following CSS is for the banner
_____________________________________________________________
*/
.banner1{
  background-color:#ff7347;
  width:920px;
height: 100px;
margin:7px auto;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding-left:190px;
}

.loginFailed{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

img{
  width:250px;
  height: 200px;
  border-radius: 40%;
  margin-bottom: 20px;
  border-style: dashed;
  border-color: #F7EEEE;
  
}

/* 
the following CSS is for the cart - buy page
_____________________________________________________________
*/
.buyPage{
  display:flex;
  position:absolute;
  text-align: center;
  padding-left: 150px;
  margin-bottom: 30px;
}
.orderSummary{
padding: 50px;
margin-right:30px;
}

.orderText{
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 40px; /*specifies the offset or the ORDER SUMMARY text from the top*/
  margin-left:60px;
}

.paymentForm{
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 10%; 
  border: 2px solid #fff;
  color: #000; 
  height: 600px;
  padding: 50px;
  margin-top: 50px;
}

.btn-success{
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
}

.buyInputs{
  margin: 20px;
}

.justInputs{
  margin:20px;
  border-radius: 5%
}

