.title{
  font-style: italic;
  position: absolute;
  left: 350px;
  top: 0px;
  color: #93B4FF
}
.login{
  background-color: rgb(89,191,249, 0.85);
  font-family: comic sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 325px;
  left: 275px;
  width: 20%;
}

.signUp{
  background-color: rgb(89,191,249, 0.85);
  font-family: comic sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 230px;
  left: 875px;
  width: 20%;
}
.banner{
  background-image: url(images/hanging_lights.jpg);
  background-position-y: 35%;
  min-width: 1440px;
  border-radius: 400%/100px 100px 0 0;
}
.wall{
  background-image: url(images/wall.jpg);
  position: fixed;
  height: 615px;
  width: 100%;
  bottom: 0px;
  background-position-y: 67%;
  background-position-X: 85%;
}

.listingStyle{
  display:inline-block;
  border:1px solid #000;
  padding:20px;
  width: 200px;
  border-radius: 5px;
  height: 100px;
  margin-top: 200px;
  margin-left: 200px;
  overflow: auto;

}

ul{
  list-style-type: none;
}
