body{
  font-family: 'Flamenco';
  letter-spacing: 1.5px;
  font-size: 20px;
  background-image: url(images/pattern.png);

}

.logo{
  background-image: url(images/logo1.png);
  grid-column: 1/4;
  grid-row: 2/3;
  
}

/* 
the following CSS is or the login/create account landing page
_____________________________________________________________
*/

.loginPageBanner{
  background-image: url(images/logo.png);
  height: 900px;
}

.login{
  color:white;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 300px;
  left: 200px;
  width:25%;
  height: 300px;
  background:rgba(0,0,0,0.3);
  padding: 20px;
}

.signUp { 
  color:white;
  text-align: center;
  display: inline-block;
  background:rgba(0,0,0,0.3);
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 300px;
  left: 575px;
  width: 25%;  
  height: 300px;
  padding: 20px;
}

.loginSubmitButton, .createSubmitButton, .submitButton{
  background:#a5ecc3;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:300px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  font-family: Helvetica;
  position: relative;

}

.input{
  color:white;
}
.inputLogin{
  display:block;
  color:white;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.4);
  border:0;
  font-family: Helvetica;
  letter-spacing: 1.5px;
}


.inputLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  font-family: Helvetica;
  font-style: none;
}

span{
  font-size: 15px;
}

/* 
the following CSS is or the items for sale
_____________________________________________________________
*/
.listingStyle, .itemsSold, .itemsBought{
  display:inline-block;
  border:1px solid #000;
  padding-left:20px;
  padding-right:20px;
  padding-top: 20px;
  padding-bottom:300px;
  width: 250px;
  border-radius: 5px;
  height: 150px;
  margin-top: 100px;
  margin-left: 200px;
  overflow: visible;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 
  border:2px dashed #F7EEEE;
  box-shadow:0 10px 25px 20px #518C96;
  z-index:-1;
  -webkit-box-shadow:0 0 30px 2px #479F41;
  -moz-box-shadow:0 0 30px 2px #479F41;
  box-shadow: 0 0 30px 2px #479F41;
  background-color: #9EEBBF;
  font-size: 17px;
  transform: rotate(3deg);
  text-align: left;
}

ul{
  list-style-type: none;
}

/* Spiffin' out the links in the banner 
-----------------------------------------------------------------------
*/
.homeAccountLink{
  grid-column: 13/16;
  grid-row: 2/3;;
  color: rgb(3, 52, 73);
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 25px;
  text-align: center;
  padding-top:5px;
  text-decoration: none;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 
}

.homeAllListingsLink{
  color: rgb(4, 44, 61);
  grid-column: 9/12;
  grid-row: 2/3;
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
  text-align: center;
  padding-top:5px;
  text-decoration: none;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 
}

.homeCreateListingsLink{
  grid-column: 17/20;
  grid-row: 2/3;;
  color: rgb(5, 53, 73);
  border-color:#FCBCB8;
  border-style: double;
  border-radius: 25%;
  border-width: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 
  }

  .homeLogoutLink {
    grid-column: 21/24;
    grid-row: 2/3;;
    color: rgb(5, 53, 73);
    border-color:#FCBCB8;
    border-style: double;
    border-radius: 25%;
    border-width: 20px;
    text-align: center;
    padding-top:20px;
    text-decoration: none;
    text-shadow:0 1px 1px rgba(0,0,0,.4); 
    }

      a {
        text-decoration: none;
        text-shadow:0 1px 1px rgba(0,0,0,.4); 
        color:rgb(3, 52, 73);
        
      }

/* done with the links
-----------------------------------------------------------------------
*/

/* these be for AllListings Spiffyness

-----------------------------------------------------------------------
*/
/* banner1 and child elements in allListing*/

.banner1{
  display: grid; 
  grid-template-columns: repeat(24 ,1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 65%;
  height:7rem;
  background-color:#F3B3A3;
  margin:7px auto;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}


  /* Now for the search outline and child elements */
  .searchOutline{
    border-color:#9EEBBF;
    display: grid; 
    grid-template-columns: repeat(12 ,1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 65%;
    height:4rem;
    margin:7px auto;
    -webkit-box-shadow: 0 1px 3px rgba(133, 34, 34, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  }
  .searchBar{
    grid-column: 2/5;
    grid-row: 2/3;
  
  }
  .searchBarLowRange{
    grid-column: 8/9;
    grid-row: 2/3;
  }
  .searchBarHighRange{
    grid-column: 10/11;
    grid-row: 2/3;
  }
  .searchImage{
    content:url(images/budy.jpg);
    height: 35px;
    width: 50px;
    grid-column: 5/6;
    grid-row: 2/3;
    border-radius: 50%;
  }

/* input[type=text]{
padding: 10px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
border-top-color: red;
border-bottom-color: blueviolet;
} */

/* 
the following CSS is for the buy button animation
_____________________________________________________________
*/
.buyButton{
  border-radius: 4px;
  background-color: #FB7445;
  border: none;
  color: #000;
  text-align: left;
  font-size: 38px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 15px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;

}

.buyButton span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buyButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buyButton:hover span {
  padding-right: 25px;
}

.buyButton:hover span:after {
  opacity: 1;
  right: 0;
}

.buyPage {
  display: inline-block;

}
/* 
the following CSS is for the banner
_____________________________________________________________
*/
.loginFailed{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

img{
  width:250px;
  height: 200px;
  border-radius: 40%;
  margin-bottom: 20px;
  border-style: dashed;
  border-color: #F7EEEE;
}

/* 
the following CSS is for the cart - buy page
_____________________________________________________________
*/
.buyPage{
  display:flex;
  position:absolute;
  text-align: center;
  padding-left: 150px;
  margin-bottom: 30px;
}
.orderSummary{
padding: 50px;
margin-right:30px;
}

.orderText{
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 40px; /*specifies the offset or the ORDER SUMMARY text from the top*/
  margin-left:100px;
}

.paymentForm{
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 10%; 
  border: 2px solid #fff;
  color: #000; 
  height: 600px;
  padding: 50px;
  margin-top: 50px;
}

.btn-success{
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
   cursor: pointer; 
}

.buyInputs{
  margin: 20px;
}

.justInputs{
  margin:20px;
  border-radius: 5%
}

/* 
the following CSS is for the create listing form
_____________________________________________________________
*/
.listingForm{
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 10%; 
  border: 2px solid #fff;
  color: #000; 
  height: 400px;
  width: 400px;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
}

.listingForm input[type="button"]:hover, 
.listingForm input[type="submit"]:hover {
    background:linear-gradient(to bottom, #FB8C74 5%, #FB8C74 100%);
    background-color: #FB8C74;
}

.uploadImageText{
  margin-top: 30px;
  margin-bottom: 20px;
}

h4{
  margin: 0, auto;
  margin-left: 300px;
  margin-top:50px;
  text-decoration: none;
}

textarea::placeholder {
  color: grey;
  font-family: Helvetica;
  font-style: none;
  margin:20px;
} 

.itemsBoughtSold{
  border-color:#9EEBBF;
  display: grid; 
  grid-template-columns: repeat(1 ,1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 65%;
  height:4rem;
  margin:auto;
  text-align: center;
  padding-top:30px;
  -webkit-box-shadow: 0 1px 3px rgba(133, 34, 34, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-shadow:0 1px 1px rgba(0,0,0,.4); 

}